API_URL=https://sos.macroit.org/api
EXPO_PUBLIC_GOOGLE_MAPS_KEY = ''

CONVEX_DEPLOYMENT=anonymous:anonymous-sos-core-ui

EXPO_PUBLIC_CONVEX_URL=http://127.0.0.1:3210

EXPO_PUBLIC_CONVEX_SITE_URL=http://127.0.0.1:3211